<form
  #registerForm="ngForm"
  (ngSubmit)="register(registerForm)"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      name="username"
      placeholder="Username"
      ngModel
      required
    />
  </div>
  <div class="mb-3">
    <label for="favorite-user">Who is your favorite user?</label>
    <select id="favorite-user" class="form-select">
      <option *ngFor="let user of users" [value]="user.id">
        {{ user.userName }}
      </option>
    </select>
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
      ngModel
      required
    />
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
